.card-img-top {
  width: auto;
  height: 30vw;
  object-fit: contain;
}

.card_title {
  color: black;
  text-align: left;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.card {
  width: 20rem;
  height: 500px;
  position: relative;
  background: white;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0px 0px 30px 2px #000;
}
