.flag {
  padding: 2px;
  margin-left: 1em;
  cursor: pointer;
}

.flag:hover {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.flag {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.country_name {
  margin-left: 50px;
}
