.cuisine {
  height: 750px;
  margin: auto;
}

.center {
  text-align: center;
  margin: 0 auto;
  margin-top: 3%;
}

#center {
  margin: 0 auto;
}

.div10 {
  border-radius: 30px;
}

.div11 {
  align-items: center;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 5%;
  margin-left: -20%;
  width: 145%;
  background-color: #ffffff;
}

h2 {
  padding: 20px;
  margin-bottom: 2%;
}
